__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
.venv/
.DS_Store
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/

data_cache/
**/data_cache/
data_snapshots/
runs/
**/runs/
reports/
mlflow/
notebooks/templates
configs/