# Virtual environments
venv*/
.venv/
env/

# Data and outputs
data_cache/
outputs/
runs/
mlflow/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# Python version file
.python-version

# IDEs
.vscode/
.idea/
